<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <div>
        {% if  request.user.is_authenticated %}
            <h1>Пользователь {{user.username}} авторизован</h1>
        {% else %}
            <h1>Пользователь не авторизован</h1>
        {% endif %}
    </div>
<div>
    <label>Мои предложения</label><br>
    {% for i in all_offer_cards %}
    <a href="{% url 'offer' i.id %}">
        <div style="background-color: yellow">
            <h3>{{i.user}}</h3>
            <h3>{{i.item}}</h3>
            <h3>{{i.add_information}}</h3>
    </div></a>
    {% endfor %}
</div>
</body>
</html>